*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif ;	 
}
body
{
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
} 
.container
{
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side
{
	position: relative;
	background: #003147;
	padding: 40px;
}
.profile
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profile .imgCON
{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}
#name
{
	font-family: cursive;
}
#major
{
	color: gray;
	font-style: italic;
}
.profile .imgCON img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.profile h1
{
	color: #fff;
	font-size: 1.5em;
	margin-top: 200px;
	text-transform: uppercase;
	text-align: center ;
	font-weight: 600;
	line-height: 1.4em;
}
.profile p
{
	font-size: 0.8em;
	font-weight: 300;
}
.titleCON
{
	margin-top: 50px;
	color: #fff;
	font-size: 1em;
}
.fa-email,.fa-phone,.fa-linkedin, .fa-location a 
{
	color: skyblue;
}
.fa-fa-linkedin
{
	color: skyblue;
}

.contact p
{
	font-size: 1em;
	color: skyblue;

}

.titleEDU
{
	margin-top: 350px;
	color: #fff;
	font-size: 1em;
	margin-bottom: 20px;
}
.educate li
{
	margin-bottom: 15px;
}
.educate ul
{
	color: #fff;
}
.educate p
{
	color: skyblue;
}
.titleLangu
{
	margin-top: 300px;
	color: #fff;
	font-size: 1em;
}
.langu li
{
	margin-bottom: 15px;
	
}
.langu ul
{
	color: #fff;
}
.langu p
{
	color: skyblue;
}
.container .right_side
{
	position: relative;
	background: lavenderblush;
	padding: 40px;
}
.info
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.titleinfo
{
	color: lavenderblush;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: flex-start ;
	font-weight: 600;
	line-height: 1.4em;
	margin-bottom: 20px;
	font-style: italic;
}
.right_side .tiINFO
{
	display: inline-block;
	padding: 2px 70px 2px 20px;
	margin-left: -50px;
	background:  #003147;
	margin-top: -40px;

}
.info h5
{
	margin-top: 20px;
	font-size: 1em;
	font-weight: 300;
	color: black;
	margin-bottom: 20px;
	
}
.achive
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.titleAchiv
{
	color: lavenderblush;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: flex-start ;
	font-weight: 600;
	line-height: 1.4em;
	margin-bottom: 20px;
	font-style: italic;
}
.right_side .tiAch
{
	display: inline-block;
	padding: 2px 70px 2px 20px;
	margin-left: -50px;
	margin-top: 200px;
	background:  #003147;
}
.achive ul
{
	color: black;
	font-size: 1em;
}
.achive li
{
	margin-bottom: 15px;
	
}
.achive h5
{
	margin-top: 20px;
	font-size: 1em;
	font-weight: 300;
	color: black;
	margin-bottom: 20px;
}
.achive h6
{
	margin-top: 20px;
	font-size: 1em;
	font-weight: 300;
	color: slateblue;
	margin-bottom: 20px;
}

.achive p
{
	margin-top: 20px;
	font-size: 1em;
	font-weight: 300;
	color: lightblue;
	margin-bottom: 20px;
}

.skill
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.titleSKILL
{
	color: lavenderblush;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: flex-start ;
	font-weight: 600;
	line-height: 1.4em;
	margin-bottom: 20px;
	font-style: italic;
}
.right_side .tisk
{
	display: inline-block;
	padding: 2px 70px 2px 20px;
	margin-left: -50px;
	margin-top: 30px;
	background:  #003147;
}
.skill ul
{
	color: slateblue;
	font-size: 1em;
}
.skill li
{
	margin-bottom: 15px;
	
}
.skill p
{
	color: lightskyblue;
}

.hop
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.tilteHOP
{
	color: lavenderblush;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: flex-start ;
	font-weight: 600;
	line-height: 1.4em;
	margin-bottom: 20px;
	font-style: italic;
}
.right_side .tihop
{
	display: inline-block;
	padding: 2px 70px 2px 20px;
	margin-left: -50px;
	margin-top: 8px;
	background:  #003147;
}

